@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}

/* BASIC HTML */
html {
    background-color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    overflow: auto;
}

body {
    color: red;
}

p, a, h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid orange;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1em;
    padding-bottom: 10px;
    padding-right: 14px;
}

a {
    text-decoration: underline;
}

small {
    font-size: 0.7em;
    color: #666;
}

hr {
    color: white;
    width: 60%
}

a {
    /* Defines a hyperlink */
    text-decoration: none;

}

/* STYLES AND SEMANTICS */
section {
    /* Defines a section in a document */
    width: 1486px;
    margin: 0 auto;
    padding: 15px;
    overflow: auto;
}

header {
    /* Defines a header for a document or section */
    height: 810px; /* You must set a specified height */
    background-image: url("../images/banner.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

header h1, h2 {
    text-align: center;
}

nav {
    position: relative;
}


main {
    
}

footer .innerSection {
    margin-bottom: 200px;
}

/* CUSTOM STYLES */
/* csm badge */
.csmBadge {
    padding-top:50px;
    width: 200px;
    height: 200px; /* You must set a specified height */
    /*background-image: url("../images/seal-csm.png"); /* The image used */
    background-image: url("../images/seal-csm.png"); /* The image used */
    /*background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin:0 auto;

}

/* hamburger menu */
.hamburgerContainer {
    display: inline-block;
    cursor: pointer;
    float: right;
}

.hamburgerMenuLabel {
    color: white;
}

.hamburgerContainer li {
    float: left;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: orange;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 20px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#toggleHamburgerItems {
    width: 1050px;
    height: 136px;
    overflow: -moz-scrollbars-none;
    margin: 0 auto;
    padding: 50px;
    display: none;
    background-color: black;
    border-radius: 20px;
    border: 1px solid orange;

}

#toggleHamburgerItems li {
    width: 316px;
    float: left;
    text-align: center;
    font-size: 2.0em;
}

/* centralise things vertically */
.vCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* absolute positioning container */
.absoluteContainer {
    border: 1px solid blue;
}

.innerSection h1 {
    font-size: 1.2em;
}

/* columns */
.columns {
    width: 269px;
    margin: 10px;
    float: left;
    border: 1px solid orange;
    border-radius: 20px;
}

.columns h1 {
    font-size: 1.2em;
    text-align: center;
}

/* about */
.aboutContainer {
    border: 1px solid grey;
    overflow: auto;
}

.aboutTextBox {
    float: left;
    width: 800px;
    padding: 20px;
}

.aboutMugShotBox {
    float: right;
    width: 300px;
    margin: 20px;
    border: 1px solid orange;
    border-radius: 20px;


    height: 300px; /* You must set a specified height */
    background-image: url("../images/mugshotblackandwhite.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


/* portfolio */
.portfolioTextContainer {
    padding-left: 12px;
    padding-right: 10px;
}

.portfolioContainer {
    color: white;
}

.portfolioImages {
    height: 248px;
    width: 248px;
    padding-top: 20px;
    padding-left: 20px;

}

.portfolioLinksContainer {
    border-top: 1px solid orange;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

}

.portfolioLinksContainer a {
    padding: 10px;
    background-color: #666666;
    border: 1px solid orange;
    border-radius: 15px;
    margin: 5px;
}

.contactContainer {
    text-align: center;

}

.contactContainer .columns {
    width: 364px;
}

.footerContainer {
    border-top: 1px solid grey;
    text-align: center;

}

.footerContainer .columns {
    border: none;
}

.footerContainer h1 {
    color: grey;
    border: none;
}

.footerContainer p {
    color: grey;
}

.credits {
    text-align: center;
    font-style: italic;
}


/* MEDIA QUERIES */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* page width */
    section {
        width: 1200px;
    }
}

/* Large devices (laptops/desktops, 992px and up to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* page width */
    section {
        width: 962px;
    }

    header {
        height: 800px;
    }

    /* columns */
    .columns {
        width: 290px;
        overflow: auto;
    }

    /* HAMBURGER MENU */
    #toggleHamburgerItems {
        width: 828px;
    }

    #toggleHamburgerItems li {
        width: 242px;
    }

    /* about */
    .aboutContainer {
    }

    .aboutTextBox {
        width: 580px;
    }

    .portfolioImages {

    }

    .contactContainer .columns {
        width: 290px;
    }
}

/* Medium devices (landscape tablets, 768px and up to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* page width */
    section {
        width: 755px;
    }

    /* columns */
    .columns {
        width: 342px;
    }

    /* HAMBURGER MENU */
    #toggleHamburgerItems {
        margin: 0;
        padding: 0px;
        width: 670px;
        height: 180px;
    }

    #toggleHamburgerItems li {
        margin-top: 20px;
        width: 670px;
        text-align: center;
    }

    /* about */
    .aboutContainer {
    }

    .aboutTextBox {
        width: 380px;
    }

    .portfolioImages {
        height: 320px;
        width: 320px;

    }

    .contactContainer .columns {
        width: 220px;
    }

    .contactContainer p {
        font-size: 0.8em;

    }
}

/* Small devices (portrait tablets and large phones, 601px and up to 767px) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    html {
        /*font-size: 1.8em;*/
    }

    /* page width */
    section {
        width: 580px;
    }

    #toggleHamburgerItems li {
        float: left;
        margin-left: 190px;
        padding-bottom: 10px;
    }

    /* columns */
    .columns {
        width: 532px;
        overflow: auto;
    }

    /* HAMBURGER MENU */
    #toggleHamburgerItems {
        margin: 0;
        padding: 0;
        width: 494px;
        height: 180px;
    }

    #toggleHamburgerItems li {
        margin-top: 20px;
        margin-left: 0px;
        padding: 0px;
        width: 492px;
        text-align: center;
    }

    /* about */
    .aboutContainer {
        border: 1px solid grey;
        overflow: auto;
    }

    .aboutTextBox {
        float: none;
        width: 100%;
    }

    .aboutMugShotBox {
        height: 310px;
        width: 310px;
        float: none;
        margin-top: 20px;
        margin-left: 120px;
    }

    .portfolioImages {
        height: 510px;
        width: 510px;
    }

    .contactContainer .columns {
        width: 536px;
    }

    .contactContainer p {
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* page width */
    section {
        width: 386px;
    }

    /* columns */
    .columns {
        width: 336px;
        overflow: auto;
    }

    /* HAMBURGER MENU */
    #toggleHamburgerItems {
        margin: 0px;
        padding: 0px;
        width: 302px;
        height: 180px;
    }


    #toggleHamburgerItems li {
        margin-top: 20px;
        margin-left: 0px;
        padding: 0px;
        width: 302px;
        text-align: center;
    }

    /* about */
    .aboutContainer {
        border: 1px solid grey;
        overflow: auto;
    }

    .aboutTextBox {
        float: none;
        width: 100%;
    }

    .aboutMugShotBox {
        height: 290px;
        width: 290px;
        float: none;
        margin-top: 20px;
        margin-left: 20px;
    }

    /* portfolio */
    .portfolioImages {
        height: 314px;
        width: 314px;
    }

    .contactContainer .columns {
        width: 336px;
    }

    .contactContainer p {
        font-size: 0.8em;
    }
}


/* ================================= */
/* TEMPORARY DEV TOOLS GO BELOW HERE */
/* ================================= */

/* SCREEN-SIZE REPORTING TOOL */
/* default */
.screenSizeReporterContainer {
    position: absolute;
    top: 300px;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.screenSizeReporterInnards {
    width: 200px;
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 10px;

}

.extraLarge {
    display: inline;
}

.large {
    display: none;
}

.medium {
    display: none;
}

.small {
    display: none;
}

.extraSmall {
    display: none;
}

/* MEDIA QUERIES */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /**/
    .extraLarge {
        display: inline;
    }

    .large {
        display: none;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }

    .extraSmall {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .extraLarge {
        display: none;
    }

    .large {
        display: inline;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }

    .extraSmall {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .extraLarge {
        display: none;
    }

    .large {
        display: none;
    }

    .medium {
        display: inline;
    }

    .small {
        display: none;
    }

    .extraSmall {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 601px and up to 767px) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .extraLarge {
        display: none;
    }

    .large {
        display: none;
    }

    .medium {
        display: none;
    }

    .small {
        display: inline;
    }

    .extraSmall {
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .extraLarge {
        display: none;
    }

    .large {
        display: none;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }

    .extraSmall {
        display: inline;
    }
}